{{ define "main" }}
  {{ partial "header.html" . }}
  <main id="main">
    {{ if .Params.heroBg }}
      {{ $hero := resources.Get (print "img/hero/" (.Params.heroBg)) }}
      <section class="hero" style="background-image: url('{{ $hero.Permalink }}');">
    {{ else }}
      {{ $homeHero := resources.Get "img/hero/hero-home.jpg" }}
      <section class="hero" style="background-image: url('{{ $homeHero.Permalink }}');">
    {{ end }}
      <h1>{{ .Title }}</h1>
      {{ if .Params.heroText }}
        <p>{{ .Params.heroText }}</p>
      {{ end }}
    </section>
    <section id="blog" class="content-block flex-row items-flex-start">
      <div id="feed" class="inner items-center">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") 9 }}
        {{ range $paginator.Pages }}
          {{ .Render "li"}}
        {{ end }}
        {{ if or .Paginator.HasPrev .Paginator.HasNext }}
          {{ partial "paginator.html" . }}
        {{ end }}
        {{/*  <div class="divider"></div>  */}}
      </div>
      <section class="tag-selection">
        <ul class="categories">
          {{ range $key, $taxonomy := .Site.Taxonomies.category }}
            {{ $c := replaceRE "-" " " $key }}
            <li><a class="meta" href="/blog/category/{{ $key }}">{{ $c }}</a></li>
          {{ end }}
        </ul>
      </section>
    </section>
  </main>
  {{ partial "footer.html" . }}
{{ end }}