{{ define "main" }}
  {{ partial "header.html" . }}
  <main id="main">
    {{ if .Params.heroBg }}
      {{ $hero := resources.Get (print "img/hero/" (.Params.heroBg)) }}
      <section class="hero" style="background-image: url('{{ $hero.Permalink }}');">
    {{ else }}
      {{ $homeHero := resources.Get "img/hero/hero-home.jpg" }}
      <section class="hero" style="background-image: url('{{ $homeHero.Permalink }}');">
    {{ end }}
      <h1>{{ .Title }}</h1>
      <div class="meta">
        <time class="date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
        <p class="divider">&nbsp;&bull;&nbsp;</p>
        <p class="author">by {{ .Params.author }}</p>
      </div>
    </section>
    <section class="content-block">
      <div class="inner flex-column items-center">
        {{ .Content }}
      </div>
    </section>
  </main>
  {{ partial "footer.html" . }}
{{ end }}