{{ define "main" }}
  {{ partial "header.html" . }}
  <main id="main">
    <section class="hero">
      <h1>{{ .Title }}</h1>
      <div class="meta">
        <time class="date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
        <p class="divider">&nbsp;&bull;&nbsp;</p>
        <p class="author">by {{ .Params.author }}</p>
        <p class="divider">&nbsp;&bull;&nbsp;</p>
        {{ partial "categories.html" . }}
      </div>
    </section>
    <article class="content-block  flex-column items-center">
      <div class="inner flex-column items-center">
        {{ .Content }}
      </div>
    </article>
  </main>
  {{ partial "footer.html" . }}
{{ end }}