{{ define "main" }}
  {{ partial "header.html" . }}
  <main id="main">
    {{ if .Params.heroBg }}
      {{ $hero := resources.Get (print "img/hero/" (.Params.heroBg)) }}
      <section class="hero" style="background-image: url('{{ $hero.Permalink }}');">
    {{ else }}
      {{ $homeHero := resources.Get "img/hero/hero-home.jpg" }}
      <section class="hero" style="background-image: url('{{ $homeHero.Permalink }}');">
    {{ end }}
      <h1>{{ .Title }}</h1>
      {{ if .Params.heroText }}
        <p>{{ .Params.heroText }}</p>
      {{ end }}
    </section>
    <section class="content-block">
      <div class="inner items-center">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") 10 }}
        {{ range $paginator.Pages }}
          {{ .Render "li"}}
        {{ end }}
      </div>
    </section>
  </main>
  {{ partial "footer.html" . }}
{{ end }}