{{ define "main" }}
  {{ partial "header.html" . }}
  <main id="main">
    {{ if .Params.heroBg }}
      {{ $hero := resources.Get (print "img/hero/" (.Params.heroBg) ".jpg") }}
      <section class="hero" style="background-image: url('{{ $hero.Permalink }}');">
    {{ else }}
      {{ $homeHero := resources.Get (print "img/hero/hero-home.jpg") }}
      <section class="hero" style="background-image: url('{{ $homeHero.Permalink }}');">
    {{ end }}
      <h1>{{ .Title }}</h1>
      {{ if .Params.heroText }}
        <p>{{ .Params.heroText }}</p>
      {{ end }}
      {{ if .Params.heroButton }}
        <a href="{{ .Site.BaseURL }}" id="button" class="button-lg button-alt">{{ .Params.heroButton }}</a>
      {{ end }}
    </section>
    {{ .Content }}
  </main>
  {{ partial "footer.html" . }}
{{ end }}