{{ define "main" }}
  {{ partial "header.html" . }}
  <main id="main">
    <section class="hero {{ .Params.heroBg }}">
      <h1>{{ .Title }}</h1>
      {{ if .Params.heroText }}
        <p>{{ .Params.heroText }}</p>
      {{ end }}
      {{ if .Params.heroList }}
        <ul>
          {{ range .Params.heroList }}
            <li>{{.}}</li>
          {{ end }}
        </ul>
      {{ end }}
      {{ if .Params.heroButton }}
        <a href="{{ .Site.BaseURL }}" id="button" class="button-lg button-alt">{{ .Params.heroButton }}</a>
      {{ end }}
    </section>
    {{ .Content }}
  </main>
  {{ partial "footer.html" . }}
{{ end }}