@import 'variables';
@import 'extends';

// Layout
.absolute {
  @extend %absolute;
}
.content-around {
  @extend %content-space-around;
}
.content-between {
  @extend %content-space-between;
}
.content-center {
  @extend %content-center;
}
.content-flex-end {
  @extend %content-flex-end;
}
.content-flex-start {
  @extend %content-flex-start;
}
.flex {
  @extend %flex;
}
.flex-column {
  @extend %flex-column;
}
.flex-wrap {
  @extend %flex-wrap;
}
.grid {
  @extend %grid;
}
.items-center {
  @extend %items-center;
}
.items-flex-end {
  @extend %items-end;
}
.items-flex-start {
  @extend %items-flex-end;
}
.relative {
  @extend %relative;
}
.self-center {
  @extend %self-center;
}
.self-end {
  @extend %self-end;
}
.self-start {
  @extend %self-start;
}
.visually-hidden {
  display: none !important;
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Buttons
#button {
  @extend %content-center;
  @extend %flex;
  @extend %items-center;
  @extend %no-decoration;
  background-color: $main;
  border-radius: 5px;
  color: $bg !important;
  cursor: pointer;
  font: 700 16px 'Lato';
  height: 30px;
  text-align: center;
  text-transform: uppercase;
  &.button-alt {
    background-color: $bg;
    color: $text !important;
  }
  &.button-sm {
    width: 180px;
  }
  &.button-lg {
    width: 240px;
  }
  &:hover {
    box-shadow: $box;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
}