@import 'variables';
@import 'extends';

// Layout
.absolute {
  @extend %absolute;
}
.content-around {
  @extend %content-space-around;
}
.content-between {
  @extend %content-space-between;
}
.content-center {
  @extend %content-center;
}
.content-flex-end {
  @extend %content-flex-end;
}
.content-flex-start {
  @extend %content-flex-start;
}
.flex {
  @extend %flex;
}
.flex-column {
  @extend %flex-column;
}
.flex-row {
  @extend %flex-row;
}
.flex-wrap {
  @extend %flex-wrap;
}
.grid {
  @extend %grid;
}
.items-center {
  @extend %items-center;
}
.items-self-center {
  @extend %items-self-center;
}
.items-end {
  @extend %items-end;
}
.items-flex-end {
  @extend %items-flex-end;
}
.items-flex-start {
  @extend %items-flex-start;
}
.items-self-flex-end {
  @extend %items-self-flex-end;
}
.items-self-flex-start {
  @extend %items-self-flex-start;
}
.items-start {
  @extend %items-start;
}
.relative {
  @extend %relative;
}
.self-center {
  @extend %self-center;
}
.self-end {
  @extend %self-end;
}
.self-start {
  @extend %self-start;
}
.visually-hidden {
  display: none !important;
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Buttons
.button {
  @extend %content-center;
  @extend %flex;
  @extend %items-center;
  @extend %no-decoration;
  background-color: $main;
  border-radius: 5px;
  color: $bg !important;
  cursor: pointer;
  font: 700 16px 'Lato';
  text-align: center;
  &.button-alt {
    background-color: $bg;
    color: $text !important;
  }
  &.button-sm {
    height: 30px;
    width: 160px;
  }
  &.button-lg {
    height: 40px;
    width: 200px;
  }
  &:hover {
    box-shadow: $box;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
}

// Styling
.full {
  max-width: 100% !important;
}
.muted {
  color: lighten($text,10%);
}
.normal {
  font-weight: normal;
}