@import 'variables';
@import 'extends';
@import 'common';
@import 'reset';
@import 'fonts';

// Header
header#header {
  @extend %content-space-between;
  @extend %items-flex-start;
  @extend %relative;
  background-color: $bg;
  padding: 20px;
  @supports (display:grid) {
    align-items: start;
    display: grid !important;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2,auto);
    padding-bottom: 0;
  }
  a.home {
    // background-color: $main;
    height: 30px;
    width: 130px;
    @supports (display:grid) {
      grid-column: 1;
      grid-row: 1;
      margin-bottom: 20px;
    }
    svg {
      fill: $text;
      &:hover {
        fill: $main;
      }
    }
  }
  nav.navigation {
    @extend %content-center;
    @extend %items-center;
    a.nav-item {
      @extend %no-decoration;
      margin: 0 10px;
      &.active {
        color: $main;
      }
    }
    div.drop-container {
      @extend %content-center;
      @extend %flex;
      @extend %flex-column;
      @extend %items-center;
      ul {
        @extend %absolute;
        background-color: rgba($bg,0.75);
        border: 2px solid $bg;
        left: auto;
        margin: 0;
        max-height: 82px;
        overflow: hidden;
        padding: 0;
        top: 70px;
        width: 160px;
        &#sub-nav-prod {
          right: 490px;
        }
        &#sub-nav-au {
          max-height: 192px;
          right: 140px;
          li.sub-item:nth-child(3),
          li.sub-item:last-child {
            border-top: 2px solid $bg;
          }
        }
        &.collapsed {
          border: none;
          max-height: 0 !important;
        }
        li.sub-item {
          @extend %content-center;
          @extend %flex;
          @extend %full-width;
          @extend %items-center;
          list-style: none;
          margin: 0;
          &:first-child {
            border-bottom: 2px solid $bg;
          }
          &:hover {
            background-color: $bg;
            a {
              color: $main;
            }
          }
          a {
            @extend %no-decoration;
            padding: 10px 0;
            text-align: center;
          }
        }
      }
    }
    @include media-query-max($tablet) {
      display: none;
    }
  }
  // Mobile
  input#toggle {
    @extend %none;
    @include media-query-max($tablet) {
      &:checked + .hamburger .top {
        margin-top: 11px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:checked + .hamburger .meat {
        margin-top: -6px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:checked + .hamburger .bottom {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      &:checked ~ .menu {
        height: 220px;
        margin-top: 40px;
        @supports (display:grid) {
          border-top: 1.5px solid rgba($text,0.5);
          height: 250px;
          margin-top: 0;
          padding: 5px 0;
        }
      }
    }
  }
  label.hamburger {
    @extend %absolute;
    @extend %content-center;
    @extend %flex;
    @extend %flex-column;
    @extend %full-width;
    @extend %items-end;
    background-color: $bg;
    height: auto;
    max-width: 240px;
    min-height: 27px;
    right: 20px;
    top: 20px;
    z-index: 120;
    @supports (display:grid) {
      @extend %self-end;
      grid-column: 2;
      grid-row: 1;
      margin: 0 0 20px auto;
      max-width: 30px;
      position: unset;
      width: 30px;
    }
    div {
      background-color: $text;
      border-radius: 5px;
      height: 3px;
      margin: 3px 0;
      position: relative;
      transition: all 0.2s ease-in-out;
      width: 30px;
    }
    @include media-query-min($tablet) {
      display: none;
    }
  }
  nav.menu {
    @extend %content-center;
    @extend %flex;
    @extend %flex-column;
    @extend %full-width;
    @extend %items-end;
    @extend %relative;
    clear: both;
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease;
    @supports (display:grid) {
      align-items: center;
      grid-column: 1/3;
      grid-row: 2;
      margin-left: -20px;
      margin-right: -20px;
      width: 100vw;
    }
    @include media-query-min($tablet) {
      display: none;
    }
    a.menu-item {
      @extend %no-decoration;
      cursor: pointer;
      margin: 10px 0;
      &.active {
        color: $main;
      }
    }
    a.button {
      margin: 10px 0;
    }
    ul.side-nav {
      @extend %absolute;
      @extend %content-center;
      @extend %flex;
      @extend %flex-column;
      @extend %full-width;
      @extend %items-center;
      background-color: $bg;
      height: 250px;
      left: 0;
      margin: 0;
      padding: 0;
      right: 0;
      top: 0;
      transform: translateX(100%);
      transition: transform .25s ease;
      z-index: 30;
      &.active {
        transform: translateX(0%) !important;
      }
      div.close {
        @extend %absolute;
        cursor: pointer;
        height: 20px;
        left: 15px;
        top: 15px;
        width: 20px;
        img {
          width: 10px;
        }
      }
      li.sub-item {
        list-style-type: none;
        margin: 10px 0;
        padding: 0;
        a {
          @extend %no-decoration;
          text-align: center;
          &.active {
            color: $main;
          }
        }
      }
    }
  }
}
// Hero
main#main {
  section.hero {
    @extend %content-center;
    @extend %flex;
    @extend %flex-column;
    @extend %full-width;
    @extend %items-center;
    background-color: $text;
    background-image: url('/img/hero-home.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    max-height: 550px;
    min-height: 390px;
    padding: 60px 30px;
    &.webp {
      background-image: url('/img/hero-home.webp');
    }
    &.cloud-migration,
    &.nava-certus {
      background-image: url('/img/hero-migration.jpg');
      &.webp {
        background-image: url('/img/hero-migration.webp');
      }
    }
    &.products {
      background-image: url('/img/hero-products.jpg');
      &.webp {
        background-image: url('/img/hero-products.webp');
      }
    }
    &.cloud-security,
    &.nava-siem {
      background-image: url('/img/hero-security.jpg');
      &.webp {
        background-image: url('/img/hero-security.webp');
      }
    }
    @include media-query-max($tablet) {
      padding: 30px;
    }
    h1, p, li, time {
      @extend %full-width;
      color: $bg;
      margin-bottom: 15px;
      max-width: 800px;
      text-align: center;
    }
    p, time {
      font-size: 18px;
      line-height: 22px;
      @include media-query-max($tablet) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        margin-bottom: 10px;
      }
    }
    a.button {
      text-transform: uppercase;
      @include media-query-max($tablet) {
        font-size: 15px;
        height: 30px;
        width: 160px;
      }
    }
    div.meta {
      @extend %content-center;
      @extend %flex;
      @extend %flex-wrap;
      @extend %full-width;
      @extend %items-center;
      margin: 0 auto 15px;
      > * {
        color: #fff;
        margin: 3px 0 !important;
      }
      time {
        max-width: 100px;
      }
      p {
        margin: 0;
        width: auto;
      }
      div.tags {
        @extend %content-flex-start;
        @extend %flex;
        @extend %flex-wrap;
        @extend %items-center;
        text-align: center;
        span.meta {
          color: $accent;
        }
        a {
          @extend %no-decoration;
          color: #fff;
          font-size: 18px;
          font-style: italic;
          text-transform: capitalize;
          &:hover {
            color: $main;
          }
        }
      }
    }
  }
}