// Import Dependencies
@import 'variables';
@import 'extends';
@import 'mixins';

// Social Nav
nav.social {
  @extend %content-space-between;
  @extend %items-center;
  width: 90px;
  a, a svg {
    height: 20px;
    width: 20px;
  }
}

// Page Content
// min-height: calc(100vh - 738px);
div.column-layout {
  @extend %content-space-around;
  @extend %flex;
  @extend %flex-wrap;
  @extend %full-width;
  @extend %items-center;
  min-height: calc(100vh - 738px);
  padding: 20px 0;
  section.content-block {
    div.inner {
      div.logo {
        margin-right: 20px;
      }
      div.info {
        max-width: 475px;
      }
    }
    &:first-child {
      max-width: 860px;
    }
    &:last-child {
      max-width: 685px;
    }
  }
}
section.content {
  h2, h3, h4 {
    margin: 0 0 15px;
    text-align: center;
  }
  p {
    line-height: 20px;
    margin-bottom: 10px;
  }
  div.products {
    @extend %content-space-around;
    @extend %flex;
    @extend %flex-wrap;
    @extend %items-center;
    img.prod-logo {
      height: 100px;
      margin: 0 15px;
      width: auto;
      @include media-query-max($phone) {
        margin-bottom: 15px;
      }
    }
  }
}
section.content-block {
  @extend %full-width;
  max-width: 860px;
  padding: 30px;
  @include media-query-max($tablet) {
    padding: 20px;
  }
  @include media-query-max($phone) {
    padding: 10px;
  }
  div.logo {
    img {
      height: 125px;
      width: auto;
    }
    @include media-query-max(800px) {
      margin-bottom: 30px;
    }
  }
  div.info {
    @extend %full-width;
    max-width: 475px;
    h2, h4 {
      text-align: start;
    }
    ul li.sub-list {
      list-style: circle;
      margin-left: 15px;
    }
  }
  a#button {
    margin: 15px 0 0 auto;
    @include media-query-max($phone) {
      margin: 0 auto;
    }
  }
  &.columns > div.inner {
    @extend %content-space-between;
    @extend %flex;
    @extend %full-width;
    @extend %items-flex-start;
    @include media-query-max(800px) {
      align-items: center;
      flex-direction: column;
    }
  }
  form#form {
    @extend %content-center;
    @extend %flex;
    @extend %flex-column;
    @extend %items-center;
    padding: 30px 0;
    @include media-query-max($phone) {
      padding: 0;
    }
    input, textarea, select {
      @extend %full-width;
      @extend %relative;
      background-color: rgba($accent,0.1);
      border: 1px solid rgba($accent,0.3);
      border-radius: 5px;
      color: $accent;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      margin-bottom: 10px;
      padding: 0 15px;
    }
    input, select {
      height: 40px;
    }
    select option {
      background-color: #fff;
      border: none;
    }
    textarea {
      height: 172px;
      padding-top: 15px;
      resize: none;
    }
    div.form-cell {
      @extend %content-center;
      @extend %flex;
      @extend %full-width;
      @extend %items-center;
      input:nth-child(2),
      select:nth-child(2) {
        margin-right: 10px;
        @include media-query-max($phone) {
          margin-right: 0;
        }
      }
      @include media-query-max($phone) {
        flex-direction: column;
      }
    }
    button#button {
      border: none;
      margin: 0 0 0 auto;
      padding: 0;
    }
  }
}
div.divider {
  @extend %full-width;
  background-color: rgba($accent,0.5);
  height: 1.5px;
  left: 0;
  right: 0;
}
section.alt-content {
  @extend %content-center;
  @extend %flex;
  @extend %full-width;
  @extend %items-center;
  background-color: rgba(#577ABA,0.15);
  padding: 30px;
  @include media-query-max($tablet) {
    padding: 20px;
  }
  @include media-query-max($phone) {
    padding: 10px;
  }
  div.inner {
    @extend %full-width;
    max-width: 860px;
  }
  ul.content-list {
    @extend %content-space-around;
    @extend %flex;
    @extend %flex-wrap;
    @extend %full-width;
    @extend %items-flex-start;
    margin: 0;
    padding: 0;
    li {
      @extend %full-width;
      list-style: none;
      margin: 15px 5px;
      max-width: 350px;
      @include media-query-max($phone) {
        margin: 15px;
      }
      div.header {
        @extend %content-flex-start;
        @extend %flex;
        @extend %items-center;
        margin-bottom: 10px;
        div {
          @extend %content-center;
          @extend %flex;
          @extend %items-center;
          background-color: $accent;
          border-radius: 50%;
          height: 40px;
          margin-right: 15px;
          width: 40px;
          img {
            height: 25px;
            width: 25px;
          }
        }
        p.title {
          font-size: 18px;
          font-weight: bold;
        }
      }
      p {
        line-height: 20px;
        &:nth-child(2) {
          margin-bottom: 10px;
        }
      }
    }
  }
  div.diagram {
    @extend %content-space-between;
    @extend %flex;
    @extend %flex-wrap;
    @extend %full-width;
    @extend %items-center;
    @include media-query-max(860px) {
      justify-content: center;
    }
    ul.info {
      padding: 0;
      width: 300px;
      h4 {
        margin: 15px 0 5px;
        text-align: start;
      }
    }
    img {
      margin: 15px 0;
      max-width: 500px;
    }
  }
}
// Footer
footer#footer {
  @extend %content-center;
  @extend %flex-column;
  @extend %items-center;
  background-color: $text;
  color: $bg;
  padding: 20px;
  li {
    list-style: none;
  }
  a {
    @extend %no-decoration;
    color: $bg;
  }
  section.info {
    @extend %content-space-between;
    @extend %flex;
    @extend %full-width;
    @extend %items-flex-start;
    @include media-query-max($phone) {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    ul {
      @extend %content-center;
      @extend %flex;
      @extend %flex-column;
      padding: 0;
      margin: 0;
      &.contact {
        @extend %items-start;
      }
      &.nav {
        @extend %items-end;
        li {
          @extend %content-flex-end;
          @extend %flex;
          @extend %full-width;
          a {
            margin-left: auto;
            @include media-query-max($phone) {
              margin: 0;
            }
          }
          @include media-query-max($phone) {
            justify-content: center;
          }
        }
      }
      li {
        margin: 5px 0;
      }
      @include media-query-max($phone) {
        align-items: center !important;
        margin-bottom: 20px;
      }
    }
  }
  a.home {
    background-color: $bg;
    height: 30px;
    width: 130px;

    margin-bottom: 15px;
    @include media-query-max($phone) {
      margin-bottom: 20px;
    }
  }
  p.copy {
    margin-bottom: 15px;
    text-align: center;
  }
}