// Import Dependencies
@import 'variables';
@import 'extends';
@import 'mixins';

// Social Nav
nav.social {
  @extend %content-space-between;
  @extend %items-center;
  width: 90px;
  a, a svg {
    height: 20px;
    width: 20px;
  }
}
// Main
main {
  @extend %content-flex-start;
  min-height: calc(100vh - 396px);
}
// Page Content
section.column-layout {
  @extend %content-space-around;
  @extend %flex;
  @extend %full-width;
  @extend %items-center;
  min-height: calc(100vh - 738px);
  padding: 20px 0;
  @include media-query-max(1020px) {
    flex-wrap: wrap;
  }
  section.content-block {
    width: 770px;
    @include media-query-max(1020px) {
      width: 100%;
    }
  }
}
section.content-block {
  @extend %content-center;
  @extend %flex;
  @extend %flex-column;
  @extend %full-width;
  @extend %items-center;
  padding: 30px;
  @include media-query-max($tablet) {
    padding: 20px;
  }
  @include media-query-max($phone) {
    padding: 10px;
  }
  div.inner {
    @extend %flex;
    @extend %full-width;
    max-width: 1000px;
    h2, h3, h4 {
      @extend %full-width;
      margin: 0 0 15px;
      text-align: center;
    }
    p {
      @extend %full-width;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }
  div.products {
    @extend %content-space-around;
    @extend %flex;
    @extend %flex-wrap;
    @extend %full-width;
    @extend %items-center;
    img.prod-logo {
      height: 100px;
      margin: 0 15px;
      width: auto;
      @include media-query-max($phone) {
        margin-bottom: 15px;
      }
    }
  }
  div.logo {
    img {
      height: 125px;
      width: auto;
    }
    @include media-query-max(800px) {
      margin-bottom: 30px;
    }
  }
  div.info {
    @extend %full-width;
    max-width: 475px;
    h2, h4 {
      text-align: start;
    }
    ul li.sub-list {
      list-style: circle;
      margin-left: 15px;
    }
  }
  a#button {
    margin: 15px 0 0 auto;
    @include media-query-max($phone) {
      margin: 0 auto;
    }
  }
  form#form {
    @extend %content-center;
    @extend %flex;
    @extend %flex-column;
    @extend %full-width;
    @extend %items-center;
    padding: 30px 0;
    @include media-query-max($phone) {
      padding: 0;
    }
    input, textarea, select {
      @extend %full-width;
      @extend %relative;
      background-color: rgba($accent,0.1);
      border: 1px solid rgba($accent,0.3);
      border-radius: 5px;
      color: $accent;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      margin-bottom: 10px;
      padding: 0 15px;
    }
    input, select {
      height: 40px;
    }
    select option {
      background-color: #fff;
      border: none;
    }
    textarea {
      height: 172px;
      padding-top: 15px;
      resize: none;
    }
    div.form-cell {
      @extend %content-center;
      @extend %flex;
      @extend %full-width;
      @extend %items-center;
      input:nth-child(2),
      select:nth-child(2) {
        margin-right: 10px;
        @include media-query-max($phone) {
          margin-right: 0;
        }
      }
      @include media-query-max($phone) {
        flex-direction: column;
      }
    }
    button#button {
      border: none;
      margin: 0 0 0 auto;
      padding: 0;
    }
  }
  ul.content-list {
    @extend %content-space-around;
    @extend %flex;
    @extend %flex-wrap;
    @extend %full-width;
    @extend %items-flex-start;
    margin: 0;
    max-width: 1280px;
    padding: 0;
    li {
      @extend %full-width;
      list-style: none;
      margin: 15px 5px;
      max-width: 350px;
      @include media-query-max($phone) {
        margin: 15px;
      }
      div.header {
        @extend %content-flex-start;
        @extend %flex;
        @extend %items-center;
        margin-bottom: 10px;
        div {
          @extend %content-center;
          @extend %flex;
          @extend %items-center;
          background-color: $accent;
          border-radius: 50%;
          height: 40px;
          margin-right: 15px;
          min-width: 40px;
          img {
            height: 25px;
            width: 25px;
          }
        }
        p.title {
          font-size: 18px;
          font-weight: bold;
          a {
            @extend %no-decoration;
          }
        }
      }
      p {
        line-height: 20px;
        &:nth-child(2) {
          margin-bottom: 10px;
        }
      }
    }
  }
  div.diagram {
    @extend %content-space-between;
    @extend %flex;
    @extend %flex-wrap;
    @extend %full-width;
    @extend %items-center;
    @include media-query-max(860px) {
      justify-content: center;
    }
    ul.info {
      padding: 0;
      width: 300px;
      h4 {
        margin: 15px 0 5px;
        text-align: start;
      }
    }
    img {
      margin: 15px 0;
      max-width: 500px;
    }
  }
  &.columns > div.inner {
    @include media-query-max(800px) {
      align-items: center;
      flex-direction: column;
    }
  }
  &.product {
    div.inner {
      > div {
        margin: 20px auto;
      }
      div.logo {
        @extend %content-center;
        @extend %flex;
        @extend %full-width;
        @extend %items-center;
      }
      h2 {
        @extend %full-width;
        margin: 20px auto;
      }
      div.info {
        h4 {
          text-align: center;
        }
        ul {
          padding-left: 15px;
          text-align: left;
        }
        ul.info-list.alt-list {
          @extend %content-space-around;
          @extend %flex;
          @extend %items-flex-start;
          text-align: start;
          div.list-column {
            li {
              text-align: start;
              ul.sub-info-list {
                text-align: start;
                li {
                  list-style-type: circle;
                }
              }
            }
          }
        }
        &.columns {
          @extend %content-flex-start;
          @extend %flex;
          @extend %flex-column;
          @extend %full-width;
          @extend %items-center;
          margin-bottom: auto;
          div.sub-info {
            margin-bottom: 50px;
          }
        }
      }
    }
    &.features {
      max-width: 100%;
      div.inner {
        @extend %items-flex-start;
        max-width: 100%;
        div.info {
          @extend %content-flex-start;
          @extend %flex;
          @extend %flex-column;
          @extend %full-width;
          @extend %items-center;
          img.icon {
            height: 90px;
            margin-bottom: 20px;
            width: auto;
          }
          ul.info-list.alt-list {
            @extend %flex-column;
            li {
              text-align: start;
            }
          }
          p.heading {
            font-size: 20px;
          }
          &.alt-info {
            @extend %items-flex-start;
            @extend %full-width;
            max-width: 400px;
            h4.heading {
              text-align: start;
            }
          }
        }
      }
      div.info-columns {
        @extend %content-space-between;
        @extend %flex;
        @extend %full-width;
        @extend %items-center;
        @include media-query-max(920px) {
          flex-direction: column;
          img {
            margin-top: 40px;
          }
        }
        img {
          max-width: 550px;
          &.graphic-mb {
            display: none;
          }
          @include media-query-max(480px) {
            margin-top: 20px;
            &.graphic-desk {
              display: none;
            }
            &.graphic-mb {
              display: block;
            }
          }
        }
      }
    }
  }
  &.cloud {
    div.inner {
      > div {
        margin: 20px auto;
      }
      h2 {
        @extend %full-width;
        margin: 20px auto;
      }
      div.info {
        p {
          text-align: center;
        }
      }
    }
    &.alt-content {
      div.inner {
        max-width: 1080px;
      }
    }
  }
}
div.divider {
  @extend %full-width;
  background-color: rgba($accent,0.5);
  height: 1.5px;
  left: 0;
  right: 0;
}
section.alt-content {
  background-color: rgba(#577ABA,0.15);
  max-width: 100% !important;
}
section.partners {
  @extend %content-center;
  @extend %flex;
  @extend %items-center;
  max-width: 100%;
  div.inner {
    max-width: 1150px;
    ul.partners-list {
      @extend %content-center;
      @extend %flex;
      @extend %flex-wrap;
      @extend %full-width;
      @extend %items-center;
      @extend %margin-horizontal-center;
      padding: 0;
      li.partners-item {
        @extend %relative;
        cursor: pointer;
        height: 350px;
        list-style-type: none;
        margin: 15px;
        min-height: 350px;
        min-width: 350px;
        padding: 0;
        perspective: 1000px;
        width: 350px;
        @include media-query-max(380px) {
          height: 300px;
          margin: 10px;
          min-height: 300px;
          min-width: 300px;
          width: 300px;
        }
        div.front,
        div.back {
          @extend %absolute;
          @extend %content-center;
          @extend %flex;
          @extend %items-center;
          backface-visibility: hidden;
          border: 2px solid $alt-bg;
          height: 100%;
          text-align: center;
          transform-style: preserve-3d;
          transition: ease-in-out 600ms;
          width: 100%;
        }
        div.front {
          background: $alt-bg;
          overflow: hidden;
          padding: 30px;
          &:before {
            @extend %absolute;
            display: block;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: .25;
            z-index: -1;
          }
          &:hover {
            transform: rotateY(180deg);
          }
          img {
            width: 250px;
            @include media-query-max(380px) {
              width: 150px;
            }
          }
        }
        div.back {
          color: $text;
          padding: 30px;
          transform: rotateY(-180deg);
          p {
            font-size: 25px;
          }
        }
        &:hover {
          .front {
            transform: rotateY(180deg);
          }
          .back {
            transform: rotateY(0deg);
          }
        }
      }
    }
  }
}
section.column-layout {
  section.content-block {
    div.inner {
      div.logo {
        margin-right: 20px;
      }
      div.info {
        max-width: 475px;
      }
    }
  }
}
// Footer
footer#footer {
  @extend %content-center;
  @extend %flex-column;
  @extend %items-center;
  background-color: $text;
  color: $bg;
  padding: 20px;
  li {
    list-style: none;
  }
  a {
    @extend %no-decoration;
    color: $bg;
  }
  section.info {
    @extend %content-space-between;
    @extend %flex;
    @extend %full-width;
    @extend %items-flex-start;
    @include media-query-max(590px) {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    ul {
      @extend %content-center;
      @extend %flex;
      @extend %flex-column;
      padding: 0;
      margin: 0;
      &.contact {
        @extend %items-start;
      }
      &.nav {
        @extend %content-flex-start;
        @extend %flex-wrap;
        @extend %items-center;
        height: 147px;
        width: 320px;
        li {
          @extend %content-flex-end;
          @extend %flex;
          a {
            margin-left: auto;
            @include media-query-max($phone) {
              margin: 0;
            }
          }
          @include media-query-max($phone) {
            justify-content: center;
          }
        }
        @include media-query-max(590px) {
          height: auto;
        }
      }
      li {
        margin: 5px 0;
      }
      @include media-query-max(590px) {
        align-items: center !important;
        margin-bottom: 20px;
      }
    }
  }
  a.home {
    background-color: $bg;
    height: 30px;
    width: 130px;

    margin-bottom: 15px;
    @include media-query-max($phone) {
      margin-bottom: 20px;
    }
  }
  p.copy {
    margin-bottom: 15px;
    text-align: center;
  }
}