@import 'variables';
// Reset
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
article,
footer,
header,
main,
nav.paginate {
  padding: 15px;
}
article p {
  line-height: 27px;
}
article,
main {
  max-width: 700px;
  width: 100%;
}
figure,
h1, h2, h3, h4,
nav > *,
p {
  margin: 0;
}
figure,
pre {
  box-shadow: $box;
  margin-bottom: 21px;
}
figcaption p,
pre {
  padding: 5px;
}
footer,
header,
nav {
  @extend %flex;
}
header {
  text-transform: uppercase;
}
header,
h1, h2, h3, h4 {
  font-weight: 600;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h2, h3, h4 {
  margin-top: 10px;
}
img,
svg {
  height: auto;
  width: 100%;
}
li {
  margin-bottom: 5px;
}
nav {
  @extend %items-center;
  justify-content: space-between;
  a svg {
    height: 55px;
    width: 55px;
  }
}
ol,
ul {
  padding-left: 30px;
}
ol ul {
  padding-left: 20px;
}