// Colors
$accent: #4A4A4A;
$alt-bg: #E6EBF5;
$bg: #FFFFFF;
$main: #34C2FC;
$text: #262626;

// Shadows
$box: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

// Media Sizes
$desktop: 1024px;
$tablet: 768px;
$phone: 415px;