@import 'variables';
@import 'extends';
@import 'mixins';

form.wufoo {
  @extend %content-center;
  @extend %flex;
  @extend %full-width;
  @extend %items-center;
  padding: 30px 0;
  @include media-query-max($phone) {
    padding: 0;
  }
  header#header.info {
    display: none !important;
  }
  ul {
    @extend %content-flex-start;
    @extend %flex;
    @extend %flex-wrap;
    @extend %full-width;
    @extend %items-center;
    margin: 0;
    padding: 0;
    li {
      @extend %content-center;
      @extend %flex;
      @extend %flex-column;
      @extend %items-flex-start;
      list-style-type: none;
      margin: 5px 0;
      padding: 0 10px;
      width: 48%;
      input:nth-child(2),
      select:nth-child(2) {
        margin-right: 10px;
        @include media-query-max($phone) {
          margin-right: 0;
        }
      }
      @include media-query-max(600px) {
        padding: 0;
        width: 100% !important;
      }
      &:nth-last-child(4) {
        width: 100% !important;
        div {
          width: 100% !important;
        }
      }
      &:nth-last-child(3) {
        width: 100% !important;
      }
      &.buttons {
        width: 100% !important;
      }
      &.hide {
        @extend %none;
      }
      &.focused {
        background-color: transparent !important;
      }
      label {
        margin-bottom: 3px;
      }
      div {
        @extend %full-width;
        input.text,
        input.search,
        textarea.textarea,
        select {
          @extend %full-width;
          @extend %relative;
          background-color: rgba($accent,0.1);
          border: 1px solid rgba($accent,0.3);
          border-radius: 5px;
          color: $accent;
          font-family: 'Lato', sans-serif;
          font-size: 16px;
          margin-bottom: 10px;
          padding: 0;
        }
        input, select {
          height: 40px;
        }
        select option {
          background-color: #fff;
          border: none;
        }
        textarea {
          height: 172px;
          padding-top: 15px;
          resize: none;
        }
        input#saveForm {
          @extend %content-center;
          @extend %flex;
          @extend %items-center;
          @extend %no-decoration;
          background: $main !important;
          border-radius: 5px;
          border: none;
          color: $bg !important;
          cursor: pointer;
          font: 700 16px 'Lato';
          height: 40px;
          margin: 0 0 0 auto;
          outline: none;
          padding: 0;
          text-align: center;
          width: 200px;
          &:hover {
            box-shadow: $box;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}