@import 'variables';
@import 'extends';
@import 'mixins';

form.wufoo {
  @extend %content-center;
  @extend %flex;
  @extend %full-width;
  @extend %items-center;
  padding: 30px 0;
  @include media-query-max($phone) {
    padding: 0;
  }
  header#header.info {
    display: none !important;
  }
  ul {
    @extend %content-flex-start;
    @extend %flex;
    @extend %flex-wrap;
    @extend %full-width;
    @extend %items-center;
    margin: 0;
    padding: 0;
    li {
      @extend %content-center;
      @extend %flex;
      @extend %flex-column;
      @extend %items-flex-start;
      clear: unset !important;
      float: unset !important;
      list-style-type: none;
      margin: 5px 0;
      padding: 0 10px;
      width: 48% !important;
      input:nth-child(2),
      select:nth-child(2) {
        margin-right: 10px;
        @include media-query-max($phone) {
          margin-right: 0;
        }
      }
      @include media-query-max(600px) {
        padding: 0;
        width: 100% !important;
      }
      &:nth-last-child(3),
      &:nth-last-child(4),
      &:nth-last-child(4) div,
      &.fullCell,
      &.buttons {
        width: 100% !important;
      }
      &.fullCell {
        @extend %flex-wrap;
        flex-direction: row !important;
        padding: 0;
        > * {
          padding: 0 10px !important;
        }
        > span {
          width: 47.5% !important;
          @include media-query-max(600px) {
            padding: 0 !important;
            width: 100% !important;
          }
          input {
            margin-bottom: 5px;
          }
          label {
            margin-bottom: 10px;
            padding: 0;
          }
        }
      }
      &.hide {
        @extend %none;
      }
      &.focused {
        background-color: transparent !important;
      }
      &.middleThird {
        margin: 0 !important;
      }
      label {
        margin-bottom: 3px;
      }
      div, span {
        @extend %full-width;
        input.text,
        input.search,
        textarea.textarea,
        select {
          @extend %full-width;
          @extend %relative;
          background-color: rgba($accent,0.1);
          border: 1px solid rgba($accent,0.3);
          border-radius: 5px;
          color: $accent;
          font-family: 'Lato', sans-serif;
          font-size: 16px;
          margin-bottom: 10px;
          padding: 0 5px;
          width: 97% !important;
          @include media-query-max($phone) {
            width: 96% !important;
          }
        }
        input, select {
          height: 40px;
        }
        select {
          width: 100% !important;
          option {
            background-color: #fff;
            border: none;
          }
        }
        textarea.textarea {
          height: 172px;
          max-width: 980px;
          min-width: unset !important;
          padding: 10px 5px;
          resize: none;
          width: 99% !important;
          @include media-query-max($tablet) {
            width: 98% !important;
          }
          @include media-query-max($phone) {
            width: 97% !important;
          }
          @include media-query-max(375px) {
            width: 96% !important;
          }
        }
        input#saveForm {
          @extend %content-center;
          @extend %flex;
          @extend %items-center;
          @extend %no-decoration;
          background: $main !important;
          border-radius: 5px;
          border: none;
          color: $bg !important;
          cursor: pointer;
          font: 700 16px 'Lato';
          height: 40px;
          margin: 0 0 0 auto;
          outline: none;
          padding: 0;
          text-align: center;
          width: 200px;
          &:hover {
            box-shadow: $box;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      fieldset {
        div span.subfield {
          @extend %content-flex-start;
          @extend %flex;
          @extend %items-center;
          height: 30px !important;
          label,
          input {
            height: 20px !important;
            margin: auto 5px !important;
            padding-bottom: 0 !important;
          }
        }
      }
    }
  }
}