<footer id="footer">
  <section class="info">
    <ul class="contact">
      <li>Nava Solutions</li>
      <li>1.855.554.2777</li>
      <li><a href="mailto:sales@navasolutions.com">sales@navasolutions.com</a></li>
      <li>
        {{ partial "social.html" . }}
      </li>
    </ul>
    <ul class="nav">
      <li><a href="{{ .Site.BaseURL }}">Home</a></li>
      <li><a href="{{ .Site.BaseURL }}products">Products</a></li>
      <li><a href="{{ .Site.BaseURL }}products/nava-certus">Nava Certus</a></li>
      <li><a href="{{ .Site.BaseURL }}products/nava-siem">Nava Siem Agent</a></li>
      <li><a href="{{ .Site.BaseURL }}cloud-security">Cloud Security</a></li>
      <li><a href="{{ .Site.BaseURL }}cloud-migration">Cloud Migration</a></li>
      <li><a href="{{ .Site.BaseURL }}about-us">About Us</a></li>
      <li><a href="{{ .Site.BaseURL }}about-us/partnership">Partnership</a></li>
      <li><a href="{{ .Site.BaseURL }}request-a-quote">Request a Quote</a></li>
    </ul>
  </section>
  <a href="{{ .Site.BaseURL }}" class="home">
    {{ partial "logo.html" . }}
  </a>
  <p class="copy">&copy;&nbsp;{{ time.Now.Format "2006" }}&nbsp;{{ .Site.Copyright }}</p>
</footer>