<header id="header">
  <a href="{{ .Site.BaseURL }}" class="home"></a>
  <nav class="navigation">
    <a href="{{ .Site.BaseURL }}" class="nav-item">Home</a>
    <a href="{{ .Site.BaseURL }}products" class="nav-item">Products</a>
    <a href="{{ .Site.BaseURL }}cloud-security" class="nav-item">Cloud Security</a>
    <a href="{{ .Site.BaseURL }}cloud-migration" class="nav-item">Cloud Migration</a>
    <a href="{{ .Site.BaseURL }}about-us" class="nav-item">About Us</a>
    <a href="{{ .Site.BaseURL }}request-a-quote" id="button" class="button-sm quote">Request a Quote</a>
  </nav>
</header>