<header id="header">
  <a href="{{ .Site.BaseURL }}" class="home"></a>
  {{ $lr := replaceRE "/nava-(certus|siem)/" "" .RelPermalink }}
  {{ $l := replaceRE "/" "" $lr }}
  <nav class="navigation">
    <a href="{{ .Site.BaseURL }}" class="nav-item{{ if .IsHome }} active{{ end }}">Home</a>
    <div class="drop-container">
      <a id="drop" href="{{ .Site.BaseURL }}products" class="nav-item{{ if eq $l "products" }} active{{ end }}">Products</a>
      <ul id="sub-nav" class="collapsed">
        <li class="sub-item"><a href="{{ .Site.BaseURL }}products/nava-certus">Nava Certus</a></li>
        <li class="sub-item"><a href="{{ .Site.BaseURL }}products/nava-siem">Nava Siem Agent</a></li>
      </ul>
    </div>
    <a href="{{ .Site.BaseURL }}cloud-security" class="nav-item{{ if eq $l "cloud-security" }} active{{ end }}">Cloud Security</a>
    <a href="{{ .Site.BaseURL }}cloud-migration" class="nav-item{{ if eq $l "cloud-migration" }} active{{ end }}">Cloud Migration</a>
    <a href="{{ .Site.BaseURL }}about-us" class="nav-item{{ if eq $l "about-us" }} active{{ end }}">About Us</a>
    <a href="{{ .Site.BaseURL }}request-a-quote" id="button" class="button-sm quote">Request a Quote</a>
  </nav>

  <input id="toggle" type="checkbox" />
  <label class="hamburger" for="toggle">
    <div class="top"></div>
    <div class="meat"></div>
    <div class="bottom"></div>
  </label>

  <nav class="menu">
    <a href="{{ .Site.BaseURL }}" class="menu-item{{ if .IsHome }} active{{ end }}">Home</a>
    <a id="drop" href="{{ .Site.BaseURL }}products" class="menu-item{{ if eq $l "products" }} active{{ end }}">Products</a>
    <a href="{{ .Site.BaseURL }}cloud-security" class="menu-item{{ if eq $l "cloud-security" }} active{{ end }}">Cloud Security</a>
    <a href="{{ .Site.BaseURL }}cloud-migration" class="menu-item{{ if eq $l "cloud-migration" }} active{{ end }}">Cloud Migration</a>
    <a href="{{ .Site.BaseURL }}about-us" class="menu-item{{ if eq $l "about-us" }} active{{ end }}">About Us</a>
    <a href="{{ .Site.BaseURL }}request-a-quote" id="button" class="button-sm quote">Request a Quote</a>
  </nav>
</header>