<!-- Paginator -->
<nav class="paginate">
  <!-- Previous page icon and link -->
  {{ if .Paginator.HasPrev }}
    <a class="page-prev" href="{{ .Paginator.Prev.URL }}">
      {{ $prev := resources.Get "img/next.svg" | minify }}
      <img src="{{ $prev.Permalink }}" alt="Previous arrow">
      Previous
    </a>
  {{ end }}

  <!-- Next page icon and link -->
  {{ if .Paginator.HasNext }}
    <a class="page-next" href="{{ .Paginator.Next.URL }}">
      Next
      {{ $next := resources.Get "img/previous.svg" | minify }}
      <img src="{{ $next.Permalink }}" alt="Next arrow">
    </a>
  {{ end }}
</nav>