<!-- Social Icon Links -->
<nav class="social">
  <!-- Facebook icon and link -->
  <a href="https://www.facebook.com/{{ .Site.Params.social.facebook }}" target="_blank" rel="noopener" aria-label="Facebook">
    {{ $fb := resources.Get "img/facebook.svg" | minify }}
    <img src="{{ $fb.Permalink }}" alt="Facebook icon">
  </a>
  <!-- Twitter icon and link -->
  <a href="https://www.twitter.com/{{ .Site.Params.social.twitter }}" target="_blank" rel="noopener" aria-label="Twitter">
    {{ $tw := resources.Get "img/twitter.svg" | minify }}
    <img src="{{ $tw.Permalink }}" alt="Twitter icon">
  </a>
  <!-- LinkedIn icon and link -->
  <a href="https://www.linkedin.com/company/{{ .Site.Params.social.linkedin }}" target="_blank" rel="noopener" aria-label="Linked In">
    {{ $li := resources.Get "img/linkedin.svg" | minify }}
    <img src="{{ $li.Permalink }}" alt="Linked In icon">
  </a>
</nav>