{{ define "main" }}
  {{ partial "header.html" . }}
  <main id="main">
    {{ $class := replaceRE "/" "" .RelPermalink }}
    <section class="hero {{ $class }}">
      <h1>Simplify Your Journey To The Cloud With Nava Solutions</h1>
      <p>Software tools to help cloud solution providers. We develop tools to enable worry-free migrations to the cloud and to keep your cloud infrastructure secure once you've migrated.</p>
      <a href="{{ .Site.BaseURL }}products" class="button button-lg button-alt" aria-label="Learn more about our products">Learn More</a>
    </section>
    <section class="content-block flex-column items-center">
      <div class="inner content-center items-center flex-column">
        <h2>Secure Cloud Enablement</h2>
        <h4 class="normal">Nava Solutions is committed to develop software applications which accelerate the adoption of cloud solutions in a secure manner</h4>
      </div>
      <div class="products">
        <a href="{{ .Site.BaseURL }}products/nava-certus">
          <picture>
            {{ $ncw := resources.Get "img/nava-certus.webp" }}
            {{ $ncj := resources.Get "img/nava-certus.jpg" }}
            <source data-srcset="{{ $ncw.RelPermalink }}" type="image/webp">
            <source data-srcset="{{ $ncj.RelPermalink }}" type="image/jpg">
            <img data-src="{{ $ncj.RelPermalink }}" alt="Nava Certus" class="lazy prod-logo">
          </picture>
        </a>
        <a href="{{ .Site.BaseURL }}products/nava-siem">
          <picture>
            {{ $nsw := resources.Get "img/nava-siem.webp" }}
            {{ $nsj := resources.Get "img/nava-siem.jpg" }}
            <source data-srcset="{{ $nsw.RelPermalink }}" type="image/webp">
            <source data-srcset="{{ $nsj.RelPermalink }}" type="image/jpg">
            <img data-src="{{ $nsj.RelPermalink }}" alt="Nava Siem Agent" class="lazy prod-logo">
          </picture>
        </a>
      </div>
    </section>
    <section class="content-block alt-content">
      <ul class="content-list">
        <li>
          <div class="header">
            {{ $migration := resources.Get "img/cloud-migration.svg" }}
            <div><img src="{{ $migration.RelPermalink }}" alt="Cloud Migration" class="icon"></div>
            <p class="title"><a href="{{ .Site.BaseURL }}cloud-migration">Cloud Migration</a></p>
          </div>
          <p>Nava Certus enables migrations to, from, and between cloud infrastructures. Whether you are an administrator/consultant migrating files for thousands of users or a single user wishing to migrate their own files, you can count on Nava Certus to do the job. Try Nava Certus for your next Google Drive, Amazon S3, or Dropbox migration project.</p>
        </li>
        <li>
          <div class="header">
            {{ $security := resources.Get "img/cloud-security.svg" }}
            <div><img src="{{ $security.RelPermalink }}" alt="Cloud Security" class="icon"></div>
            <p class="title"><a href="{{ .Site.BaseURL }}cloud-security">Cloud Security</a></p>
          </div>
          <p>Secure your cloud infrastructure using Nava SIEM Agent, a revolutionary tool that retrieves audit logs from various data sources, including Google Apps Amazon S3. Ingest your cloud audit logs into your favorite SIEM solution and have a unified framework for log retention, analysis, compliance, and forensics.</p>
        </li>
        <li>
          <div class="header">
            {{ $resellers := resources.Get "img/resellers.svg" }}
            <div><img src="{{ $resellers.RelPermalink }}" alt="Resellers" class="icon"></div>
            <p class="title"><a href="{{ .Site.BaseURL }}partnership">Resellers</a></p>
          </div>
          <p>Looking for a reseller to purchase our products from? Check our growing list of resellers.</p>
          <p>Are you a cloud solutions provider? Find out how our products can add value to your services.</p>
        </li>
      </ul>
    </section>
  </main>
  {{ partial "footer.html" . }}
{{ end }}