{{ define "main" }}
  {{ partial "header.html" . }}
  <main id="main">
    <section class="hero">
      <h1>Upcoming {{ .Title }}</h1>
      {{ if .Params.date }}
        <p>{{ .Params.date }}</p>
      {{ end }}
    </section>
    <section class="content-block events">
      <div class="inner items-center">
        <ul class="event-list">
          {{ range .Pages }}
            {{ .Render "li"}}
          {{ end }}
        </ul>
      </div>
    </section>
  </main>
  {{ partial "footer.html" . }}
{{ end }}