<ul class="partners-list">
  <li class="partners-item">
    <div class="front">
      <picture>
        {{ $accenturew := resources.Get "img/accenture.webp" }}
        {{ $accenturep := resources.Get "img/accenture.png" }}
        <source data-srcset="{{ $accenturew.Permalink }}" type="image/webp">
        <source data-srcset="{{ $accenturep.Permalink }}" type="image/png">
        <img class="lazy" data-src="{{ $accenturep.Permalink }}" alt="Accenture">
      </picture>
    </div>
    <div class="back">
      <p><a href="https://www.accenture.com/">Accenture</a></p>
    </div>
  </li>
  <li class="partners-item">
    <div class="front">
      <picture>
        {{ $ancorisw := resources.Get "img/ancoris.webp" }}
        {{ $ancorisp := resources.Get "img/ancoris.png" }}
        <source data-srcset="{{ $ancorisw.Permalink }}" type="image/webp">
        <source data-srcset="{{ $ancorisp.Permalink }}" type="image/png">
        <img class="lazy" data-src="{{ $ancorisp.Permalink }}" alt="Ancoris">
      </picture>
    </div>
    <div class="back">
      <p><a href="https://www.ancoris.com/">Ancoris</a></p>
    </div>
  </li>
  <li class="partners-item">
    <div class="front">
      <picture>
        {{ $valleyappsw := resources.Get "img/valleyapps.webp" }}
        {{ $valleyappsp := resources.Get "img/valleyapps.png" }}
        <source data-srcset="{{ $valleyappsw.Permalink }}" type="image/webp">
        <source data-srcset="{{ $valleyappsp.Permalink }}" type="image/png">
        <img class="lazy" data-src="{{ $valleyappsp.Permalink }}" alt="ValleyApps">
      </picture>
    </div>
    <div class="back">
      <p><a href="http://valleyapps.com/">ValleyApps</a></p>
    </div>
  </li>
  <li class="partners-item">
    <div class="front">
      <picture>
        {{ $cumulusglobalw := resources.Get "img/cumulusglobal.webp" }}
        {{ $cumulusglobalp := resources.Get "img/cumulusglobal.png" }}
        <source data-srcset="{{ $cumulusglobalw.Permalink }}" type="image/webp">
        <source data-srcset="{{ $cumulusglobalp.Permalink }}" type="image/png">
        <img class="lazy" data-src="{{ $cumulusglobalp.Permalink }}" alt="Cumulus Global">
      </picture>
    </div>
    <div class="back">
      <p><a href="http://www.cumulusglobal.com/">Cumulus Global</a></p>
    </div>
  </li>
  <li class="partners-item">
    <div class="front">
      <picture>
        {{ $agostow := resources.Get "img/agosto.webp" }}
        {{ $agostop := resources.Get "img/agosto.png" }}
        <source data-srcset="{{ $agostow.Permalink }}" type="image/webp">
        <source data-srcset="{{ $agostop.Permalink }}" type="image/png">
        <img class="lazy" data-src="{{ $agostop.Permalink }}" alt="Agosto">
      </picture>
    </div>
    <div class="back">
      <p><a href="https://www.agosto.com/">Agosto</a></p>
    </div>
  </li>
  <li class="partners-item">
    <div class="front">
      <picture>
        {{ $ditowebw := resources.Get "img/ditoweb.webp" }}
        {{ $ditowebp := resources.Get "img/ditoweb.png" }}
        <source data-srcset="{{ $ditowebw.Permalink }}" type="image/webp">
        <source data-srcset="{{ $ditowebp.Permalink }}" type="image/png">
        <img class="lazy" data-src="{{ $ditowebp.Permalink }}" alt="Dito">
      </picture>
    </div>
    <div class="back">
      <p><a href="https://www.ditoweb.com/">Dito</a></p>
    </div>
  </li>
  <li class="partners-item">
    <div class="front">
      <picture>
        {{ $cloudbakersw := resources.Get "img/cloudbakers.webp" }}
        {{ $cloudbakersp := resources.Get "img/cloudbakers.png" }}
        <source data-srcset="{{ $cloudbakersw.Permalink }}" type="image/webp">
        <source data-srcset="{{ $cloudbakersp.Permalink }}" type="image/png">
        <img class="lazy" data-src="{{ $cloudbakersp.Permalink }}" alt="cloudbakers">
      </picture>
    </div>
    <div class="back">
      <p><a href="https://www.cloudbakers.com/">cloudbakers</a></p>
    </div>
  </li>
  <li class="partners-item">
    <div class="front">
      <picture>
        {{ $esourcecapitalw := resources.Get "img/esourcecapital.webp" }}
        {{ $esourcecapitalp := resources.Get "img/esourcecapital.png" }}
        <source data-srcset="{{ $esourcecapitalw.Permalink }}" type="image/webp">
        <source data-srcset="{{ $esourcecapitalp.Permalink }}" type="image/png">
        <img class="lazy" data-src="{{ $esourcecapitalp.Permalink }}" alt="eSource Capital">
      </picture>
    </div>
    <div class="back">
      <p><a href="https://www.esourcecapital.com/">eSource Capital</a></p>
    </div>
  </li>
</ul>