<ul class="partners-list">
  <li class="partners-item">
    <div class="front">
      {{ $accenture := resources.Get "img/partners/accenture.png" | fingerprint }}
      <img class="lazy" data-src="{{ $accenture.Permalink }}" alt="Accenture">
    </div>
    <div class="back">
      <p><a href="https://www.accenture.com/">Accenture</a></p>
    </div>
  </li>
  <li class="partners-item">
    <div class="front">
      {{ $ancoris := resources.Get "img/partners/ancoris.png" | fingerprint }}
      <img class="lazy" data-src="{{ $ancoris.Permalink }}" alt="Ancoris">
    </div>
    <div class="back">
      <p><a href="https://www.ancoris.com/">Ancoris</a></p>
    </div>
  </li>
  <li class="partners-item">
    <div class="front">
      {{ $valleyapps := resources.Get "img/partners/valleyapps.png" | fingerprint }}
      <img class="lazy" data-src="{{ $valleyapps.Permalink }}" alt="ValleyApps">
    </div>
    <div class="back">
      <p><a href="http://valleyapps.com/">ValleyApps</a></p>
    </div>
  </li>
  <li class="partners-item">
    <div class="front">
      {{ $cumulusglobal := resources.Get "img/partners/cumulusglobal.png" | fingerprint }}
      <img class="lazy" data-src="{{ $cumulusglobal.Permalink }}" alt="Cumulus Global">
    </div>
    <div class="back">
      <p><a href="http://www.cumulusglobal.com/">Cumulus Global</a></p>
    </div>
  </li>
  <li class="partners-item">
    <div class="front">
      {{ $agosto := resources.Get "img/partners/agosto.png" | fingerprint }}
      <img class="lazy" data-src="{{ $agosto.Permalink }}" alt="Agosto">
    </div>
    <div class="back">
      <p><a href="https://www.agosto.com/">Agosto</a></p>
    </div>
  </li>
  <li class="partners-item">
    <div class="front">
      {{ $ditoweb := resources.Get "img/partners/ditoweb.png" | fingerprint }}
      <img class="lazy" data-src="{{ $ditoweb.Permalink }}" alt="Dito">
    </div>
    <div class="back">
      <p><a href="https://www.ditoweb.com/">Dito</a></p>
    </div>
  </li>
  <li class="partners-item">
    <div class="front">
      {{ $cloudbakers := resources.Get "img/partners/cloudbakers.png" | fingerprint }}
      <img class="lazy" data-src="{{ $cloudbakers.Permalink }}" alt="cloudbakers">
    </div>
    <div class="back">
      <p><a href="https://www.cloudbakers.com/">cloudbakers</a></p>
    </div>
  </li>
  <li class="partners-item">
    <div class="front">
      {{ $esourcecapital := resources.Get "img/partners/esourcecapital.png" | fingerprint }}
      <img class="lazy" data-src="{{ $esourcecapital.Permalink }}" alt="eSource Capital">
    </div>
    <div class="back">
      <p><a href="https://www.esourcecapital.com/">eSource Capital</a></p>
    </div>
  </li>
</ul>